<h1>Housing Ballot Guide 2018</h1>
<h3>Preliminary Points</h3>

<ol>
<li>College guarantees a room for every undergraduate (for the 3 years of education)</li>
<li>The room ballot is the College&#8217;s way of allowing s to have a say in which rooms we
get. If you do not enter the room ballot, College will randomly allocate you a room
which is not selected in the ballot</li>
<li>To enter the ballot you MUST return the ballot form which will appear in your pigeon
holes on <strong>Wednesday 21st of February 2018</strong> and must be returned by <strong>Monday 26th of
February 2018</strong></li>
<li>Any student who feels the need for a specific room due to any exceptional
circumstances must see their tutors by <strong>Tuesday 27th February.</strong></li>
<li><a href="https://roomballot.fitzjcr.com/">Go here for updates, live spreadsheets, and photos of rooms</a></li>
</ol>

<h3>Contents</h3>

<ol>
<li>Timetable</li>
<li>The Houses Ballot</li>
<li>The College Rooms Ballot</li>
<li>How it works</li>
<li>Which houses/rooms are available?</li>
<li>Special Room Requirements</li>
<li>Contracts</li>
<li>Randomisation of the Room Ballot</li>
</ol>

<h3>Timetable</h3>

<p><a href="/timetable">The timetable can be found here</a></p>

<h3>The Houses Ballot</h3>

<ul>
<li>The Housing Ballot will take place the weekend of the <strong>Saturday 3rd &amp; Sunday 4th March
2018.</strong> This is 1 week prior to the College Rooms Ballot (for rooms in college) on <strong>Saturday
10th &amp; Sunday 11th March 2018</strong>.</li>
<li>All rooms in outside houses MUST be filled before current first years will be able to
ballot for rooms in college corridors.</li>
<li>The likelihood of current first year students being able to live on the same corridor as
their friends in college is much slimmer than in College houses due to your position at
the bottom of the room ballot.</li>
</ul>

<h3>The College Rooms Ballot</h3>

<ul>
<li>The Room Ballot will take place on the weekend of Saturday 10th &amp; Sunday 11th
March 2018</li>
<li>All current second year students and third year students with a confirmed fourth
year MUST live in college rooms rather than outside houses.</li>
<li>This year there will be <strong><strong>NO PULLING UP</strong></strong> (please read the below how it works section
carefully)</li>
</ul>

<h3>How it works</h3>

<ul>
<li>The College Ballot comprises 4 separate ballots

<ul>
<li>As tradition, the JCR President will be permitted to pick a single in-college
room for themselves before the ballot begins</li>
<li>Ballot one: Academic and Organ Scholars wishing to ballot individually. Any Scholars who wish to ballot as a group must revoke their privilege and go into
the non-schools ballot for their year group.</li>
<li>Ballot two: Current 2nd years group, and 3rd years on a year abroad.</li>
<li>Ballot three: Current 3rd years with a confirmed 4th year</li>
<li>Ballot four: Current 1st years (who did not secure a room in a house)</li>
</ul></li>
<li>The Ballot will be drawn in the above order</li>
<li>People will pick rooms in the order their individual name/group names (everyone in
the same group has the same priority) have been extracted from the ballot.

<ul>
<li>N.B. This year group balloting has replaced the old system. There will be <strong><strong>NO
PULLING UP.</strong></strong></li>
</ul></li>
</ul>

<ol>
<li>ENTERING THE BALLOT

<ol>
<li>To enter the ballot, you must complete your ballot form. This form will
appear in your pigeon hole on Wednesday 21st February. You must complete
the form and return it by Monday 26th February to the Accommodation
Office (between K and L staircases) Unless there are exceptional
circumstances, non-completion of the form will mean that a room will be
randomly allocated to you after the ballot has finished. If there are any delays
in putting the forms in the pigeon holes, then the deadline for returning them
will be correspondingly extended.</li>
<li>Everyone must submit a ballot form individually, even when forming a
balloting group</li>
<li>If you are unable to make it to your ballot slot, you must nominate a proxy
and email the name of the proxy in advance</li>
<li>Throughout the weekend, there will be a live spreadsheet showing the rooms
selected. Please keep an eye on this to keep up to date with which rooms
remain available</li>
</ol></li>
<li>BALLOTING INDIVIDUALLY

<ol>
<li>Students are automatically entered into the ballot individually unless they
opt to join a group.</li>
<li>Academic and organ scholars will only get their scholars privilege of being in
the first ballot if they choose to ballot individually.</li>
</ol></li>
<li><p>BALLOTING IN A GROUP</p>

<ol>
<li>Students who wish to ballot in a group may do so. This replaces the old
pulling up system of balloting.</li>
<li>The group selection form is available at https://roomballot.fitzjcr.com/groups
and is already live.</li>
<li><em>The maximum group size is 9.</em></li>
<li>Groups do not have to fill corridors and if necessary will be expected to split
up.</li>
<li>If creating a new group:

<ol>
<li>Select &#8220;Create a new Group&#8221;</li>
<li>Enter a group name and tick the box if you wish to make the
group visible publically. This means anyone is able to request
access to it. If you do not make the group visible publicly you
have to send the link to the group to the students you wish to
join it.</li>
<li>Once the group is made select &#8220;go to group,&#8221; copy the link and
send to the students you wish to join your group.</li>
<li>The student who creates the group is the &#8220;owner.&#8221; Anytime
someone requests access to join the group it must be
accepted by the &#8220;owner&#8221;</li>
<li>These requests for access are emailed to the &#8220;owner&#8221;</li>
<li>If you create a public group, the link does not need to be
shared. The group will be visible on the page for anyone to
request access to, but access still needs to be granted by the
&#8220;owner.&#8221;</li>
</ol></li>
<li>If joining a group

<ol>
<li>The link may be sent to you by the group &#8220;owner&#8221; click the link
to request access to the group. Access is then granted by the
&#8220;owner&#8221;</li>
<li>If the group is public, find the group at
https://roomballot.fitzjcr.com/groups and request access to
join.</li>
</ol></li>
<li>Groups can be formed from members of your own year group, thus
current second years can form groups with other second years to live
together in their third year. MML/AMES students currently abroad,
you will be able to join a group of current second year students if you
wish to form a &#8220;finalist&#8221; corridor. MML/AMES students will be placed in the 2nd years ballot by default.</li>
</ol>

<p><a href="https://roomballot.fitzjcr.com">There is a video guide available</a></p></li>
<li>DRAWING THE BALLOT:

<ol>
<li>The ballot will be drawn on <strong>Wednesday 7th March at 19:00</strong> using a
randomisation procedure (detailed at the end of this document for those
who are interested)</li>
<li>The order of the ballot will determine the time slot you (individually), or your
group are given. At the allocated time on Saturday 10th or Sunday 11th March
you are required to meet with me in the cafe. Here you will choose your
rooms from those that are available.</li>
</ol></li>
</ol>

<h3>Which rooms are available?</h3>

<p>Rooms are available in:</p>

<ul>
<li>New Court (Q, R, S, T blocks)</li>
<li>Gatehouse Court (U, V, W)</li>
<li>Wilson Court (X &amp; Y)</li>
<li>P, L, &amp; N block</li>
</ul>

<p><a href="/rooms">Photos, layouts, and indicative pricing can be found on the website</a>.</p>

<ul>
<li>Pricing is only indicative (not final) and can be found on the room spreadsheet
accessible on the above link. These are the room costs for the 2017-2018 academic
year. For a rough idea of rents for the 2018-19 academic year, add 4%. THESE ARE
INDICATIVE ONLY.

<ul>
<li>For security reasons, we request that these details to be kept strictly
confidential to the members of Fitzwilliam College. If anyone is known to
have violated this rule, all information will be withdrawn and the person in
question will be referred to the Senior Tutor.</li>
</ul></li>
</ul>

<p>Open Room Weekend:</p>

<ul>
<li>Second, Third, and Fourth years and strongly encouraged (and kindly asked) to allow
anyone to view their rooms on Saturday 24th and Sunday 25th February ahead of
both the housing and room ballots. This enables students to have an idea of what
accommodation in various blocks/houses is like alongside the information contained
on the website.</li>
<li>It is encouraged students leave post-its with key features about the room on their
doors eg. &#8220;large window but can be noisy&#8221;</li>
</ul>

<h3>Special Room Requirements</h3>

<ul>
<li>Any students with special room requirements, resulting from disability or other
exceptional cause, need to see their Tutor as a matter of urgency so that appropriate
steps can be taken, before <strong>Tuesday 27th February.</strong></li>
<li>The College will seek in such cases to ensure that the individual&#8217;s needs are met, and
that various opportunities for appropriate accommodation are open to them, as to
other students. As far as possible, the general principle that individuals select rooms
in the order of a random ballot will be preserved. (For example, it will be possible for
first year students in need of en-suite facilities to seek an en-suite room in a house
as part of a group of the appropriate size, but the standard ballot process will
determine whether they ultimately secure a room in a house or an en-suite room in
College).</li>
</ul>

<p>Resolution of difficulties:</p>

<ul>
<li><p>Should any unexpected situations occur a committee comprising the JCR President,
Vice President, and a senior undergraduate (a 4th year) will decide the outcome of
the situation based on the following principles:</p>

<ul>
<li>Everyone must have a room</li>
<li>Priority is to be given to those who come higher on the ballot</li>
<li>People should, where possible, be able to live with others they know.</li>
</ul></li>
</ul>

<h3>Contracts</h3>

<ul>
<li>Signing of contracts must occur by <strong>Friday 23rd March 2018</strong> in order to secure a room.
If, for exceptional circumstances, you cannot make this deadline, please email the
Accommodation Officer Diane Pickles - dsp37@cam.ac.uk - making sure you explain
your circumstances.</li>
<li>Upon selection of your room, you will be asked to provisionally select the type of
contract you want.

<ul>
<li><strong>Agreement A - Termly residence (29 weeks):</strong> Covers the Residence period of
Michaelmas, Lent, and Easter terms ONLY.</li>
<li><strong>Agreement B - Easter vacation residence (29 weeks (term time) + Easter
vacation):</strong> covers the residence period for Michaelmas term, the period from
the beginning of the residence period of lent term to the end of the
residence period of the Easter term.</li>
<li><strong>Agreement C - Full residence (29 weeks (term time) + Easter + Christmas
vacations):</strong> Runs from the beginning of the residence period of the
Michaelmas term to the end of the residence period of Easter term.</li>
</ul></li>
</ul>

<p>All contracts include:</p>

<ul>
<li>Fully furnished room with bed, desk, chair and storage space. En-suite or shared
washing and toilet facilities.</li>
<li>Use of shared gyp room or kitchen space.</li>
<li>Heating, power and lighting to agreed College standards.</li>
<li>Daily cleaning of common areas and weekly cleaning of bedrooms.</li>
<li>IT services via the College network</li>
<li>The right to use the shared laundry facilities (charges apply for the use of these).</li>
</ul>

<p>Note that if you decided to pick one contract and then wish to stay outside of the contract
you will be able to make a request for out of term accommodation (ROTA). This will mean
that college will endeavour to find a room for you but will NOT guarantee your term-time
room. Essentially, the contract should represent how long you want to stay in your specific
room.</p>

<p>A good idea is to ask your Faculty/DoS about when most of your deadlines will be.
This will give you some indication as to whether you may need to stay up during
Easter etc.</p>

<p>Any changes to the room contract must be made by 16:00 on Wednesday 14th March. Note
that once they have been printed, they are the contracts which you are expected to sign (by
the deadline of Friday 23th of March).</p>

<h3>Randomisation of the Room Ballot</h3>

<ul>
<li>The room ballot will be drawn using the electronic administrative tools on
https://roomballot.fitzjcr.com, unless there is evidence beyond reasonable doubt
that these tools produce a biased ballot, or there is a technical issue preventing
these tools being used. In this case, the order of the ballot will be determined by
extraction of ballot papers from a pool.</li>
<li>The ballot will be drawn in the JCR at the time specified in the Ballot Timetable.</li>
<li>The process shall be as follows:

<ul>
<li>A random integer seed will be generated using an independently verifiable
source of randomness (https://random.org).</li>
<li>The seed will be made visible to all physically present at the time of the draw,
and anyone who wishes to make a note of the seed will be able to do so.</li>
<li>If any person, physically present at the time of the draw, has reason to
distrust the validity or randomness of this seed, they must raise these
concerns at this stage of the process, and the seed will be regenerated
should their claims be reasonable.</li>
<li>Only at this point, and not before, will the order of the ballot be generated
and shown. The ballot order and random seed are now locked, and cannot be
changed without evidence beyond reasonable doubt that the produced ballot
was biased.</li>
<li>At this point, the order of the ballot will also become available to all
undergraduates participant in the ballot at
https://roomballot.fitzjcr.com/order.</li>
</ul></li>
<li>Any evidence of a biased ballot must be provided before the first room has been
chosen in the ballot. At this point, the ballot order will not be changed, but the same
system will not be used on the next ballot without sufficiently addressing the
evidence provided.</li>
<li>Disputes, evidence, and assessment of &#8220;reasonable&#8221; as used in this process shall be
resolved and assessed in the same way as outlined elsewhere in this guide, should it
become necessary.</li>
<li>Technical Details:

<ul>
<li>The code that runs the ballot is available at
https://github.com/CHTJonas/roomballot.</li>
<li>The shuffle used will be Fisher-Yates, and the initial ordering of groups within
each ballot priority will be the Group ID. The Group ID will be made available
along with the ballot, and is independent of the group&#8217;s contents.</li>
<li>The random number generator used is PHP&#8217;s Mersenne Twister. Specifically,
<code>mt_srand</code> is used to seed the generator, and <code>mt_rand</code> is used to get random
integers.</li>
<li>The ballot will be locked by storing the seed value in the database. The order
of the ballot will be generated using the seed in the database if the value is
available, to prevent a phony ballot being shown. The seed used will also be
shown.</li>
</ul></li>
</ul>
