<% content_for :title, "Fitz JCR Housing Ballot System" %>
<p>Welcome to Fitzwilliam College JCR&#8217;s online room and housing ballot system. The system is under active development by the JCR Website Officer, Tom Benn, building on work by last year&#8217;s officer Charlie Jonas.</p>

<h3>Group Balloting</h3>
<p>This year, the ballot is being done in groups. For full information, see <a href="/guide">the JCR&#8217;s ballot guide</a>. To start registering your groups, go to <a href="/groups">the group balloting page</a>.</p>
<p>Watch the video below for a quick guide to using the group ballot section.</p>
<iframe style="max-width: 560px; width: 100%;" height="315" src="https://www.youtube.com/embed/NeN5NYhmD9E" frameborder="0" allow="autoplay; encrypted-media"
allowfullscreen></iframe>

<h3>Privacy notice</h3>
<p>For security reasons, we request that you keep information regarding room rents and photographs of College-owned rooms strictly confidential to the members of Fitzwilliam College. You are also warned that exploiting any online vunerabilities in Ballot System will not be tolerated. If anyone is known to have violated these rules, all information will be withdrawn and the person in question will be referred to the Senior Tutor and the Dean.</p>

<h3>About this site</h3>
<p>If you have any problem with the housing ballot you should contact the JCR Vice President at <a
href="&#109;a&#x69;l&#x74;&#111;&#x3a;&#106;&#x63;&#114;&#x2e;&#118;&#x69;&#99;&#x65;&#46;&#x70;&#114;&#x65;&#115;&#x69;&#100;&#x65;&#110;&#x74;&#64;f&#x69;t&#x7a;&#46;&#x63;&#97;&#x6d;&#46;&#x61;&#99;&#x2e;&#117;&#x6b;">jcr.vice.president@fitz.cam.ac.uk</a>.
To report any technical issues with this website you are invited to contact the JCR Website Officer in confidence at <a
href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#x3a;&#x6a;&#99;&#114;.&#x77;&#x65;&#98;&#115;&#105;&#x74;&#x65;&#x40;&#102;&#105;t&#x7a;&#x2e;&#99;&#97;&#109;&#x2e;&#x61;&#x63;&#46;&#117;k">jcr.website@fitz.cam.ac.uk</a>.</p>
<p>This project is open source, so if you&#8217;d like to help with development or vet the ballot system <a href="https://github.com/CHTJonas/roomballot">fork the codebase on GitHub</a> (and submit a pull request).</p>
