<% content_for :title, "Shadow Ballot" %>

<p>You can fill in the shadow ballot <%= link_to 'here', '#' %>. Try not to fill it in before the people above you.</p>

<iframe width="100%" height="1000px" src=""></iframe>
