.sharelink {
  padding: 10px;
  font-family: monospace;
  width: 70%;
  vertical-align: middle;
  resize: none;

  border-radius: 5px;
  border: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;

  background-color: #383838;
  color: white;
}
